.movie {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-poster {
    cursor: pointer;
    width: 20vw;
}

.movie-poster:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgb(175, 169, 167);
}

.ratings {
    color: rgb(205, 205, 205);
}